article {
  font-family: verdana;
  width: 1030px;
  height: 1150px;
  margin: 0 auto;
}

article h1{
  text-align: center;
  font-weight: lighter;
}

article p {
  color:grey;
  font-size: 17px;
  margin-bottom: 70px;
  text-align: center;
}

.gras {
    color: #404040;
    font-size: 15px;
    float: left;
}
.learn {
  height: 280px;
}
.rose {
  background-color: #fbaea8 ;
  border-radius: 5px;
  height: 200px;
  width: 320px;
  margin-left: 150px;
  padding-top: 10px;
  float: left;
}

#livre {
  height: 170px;
  float: left;
  margin-left: 80px;
  margin-top: 20px;
  float: left;
}

.learn p {
  width: 330px;
  padding-top: 10px;
  display: block;
  padding-left: 60px;
  float:left;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height:23px;
  color:grey;

}

#ligneRose {
  width: 300px;
margin-left: 280px;

}

.bleu {
  background-color: #C1E0F5 ;
  border-radius: 5px;
  height: 200px;
  width: 320px;
  margin-left: 580px;
  height: 200px;
}

#practice {
  height: 170px;
  float: left;
  margin-left: 70px;
  margin-top: 20px;
}

.practice p {
  margin-left:505px;
  padding-left: 80px;
  display: block;
  line-height:20px;
  font-size: 16px;
  line-height:23px;
  color:grey;
  text-align: left;
  width: 380px;
}

#ligneBleu {
  width: 250px;
  margin-left: 330px;
  margin-top: -272px;
  float: left;

}

.vert {
  background-color: #B8F5D2 ;
  border-radius: 5px;
  height: 200px;
  width: 320px;
  margin-left: 170px;
  margin-top: -155px;
  height: 200px;

}

#earn {
  height: 170px;
  float: left;
  margin-left: 80px;
  margin-top: 20px;

}
.practice {
  z-index: -1;
}

.earn {
  z-index: 1;
  position:relative;
}

.earn p {
  width: 380px;
  padding-top: 30px;
  padding-left: 170px;
  float:left;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height:23px;
  color:grey;
}
